body {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: darksalmon;
}
div {
    line-height: 44px;
    font-size: 22px;
    text-align: center;
    padding: 17%;
    overflow: hidden;
}

button.small-div {
    border: 0;
    font-size: 18px;
    padding: 0.5% 2%;;
    width: auto;
    height: auto;
    background-color: #CB7922;
}
button.small-div input{
    background-color: darksalmon;
    height: 30px;
    width: 35px;
}

div.index-div {
    padding-bottom: 2%;
}

input {
    padding-left: 0.5%;
    font-size: 18px;
    border: 2px solid #000;
    height: 30px;
    width: 385px;
}
div.button {
    padding-top: 2%;
}
a {
    text-decoration: none;
}
button.enter{
    padding: 0.5% 1%;
    font-size: 18px;
}
button.enter:hover{
    border: 2px solid black;
}
.sectionClass{
    display: block;
    padding: 0;
}
.section {
    display: none;
    padding: 0;
}





